<ul id="progressbar">
    <li class="active" id="account"><strong>Cart</strong></li>
    <li id="personal"><strong>Address</strong></li>
    <li id="payment"><strong>Payment</strong></li>
    <li id="confirm"><strong>Finish</strong></li>
</ul>
<div class="progress">
    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" 
        aria-valuemin="0" style="width: 25%;" aria-valuemax="100"></div>
</div>
<br/><br/>
<div class="alert alert-success" *ngIf="successMsg"><b>Success: </b>{{successMsg}}</div>
<div class="alert alert-danger" *ngIf="errorMsg"><b>Delete: </b>{{errorMsg}}</div>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Amount</th>
            <th>Total</th>
            <th width="10%">Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let cart of shoppingCart; index as i">
            <td>{{ cart.name }}</td>
            <td>{{ cart.price | currency:"USD" }}</td>
            <td><input type="number" [(ngModel)]="cart.amount" style="width: 100px;" class="form-control" min="1"></td>
            <td>{{ cart.price * cart.amount | currency:"USD" }}</td>
            <td nowrap>
                <button class="btn btn-success btn-sm" (click)="updateCart(i)">Update</button>&nbsp;
                <button class="btn btn-danger btn-sm" (click)="deleteCart(i)">Delete</button>
            </td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3" align="right"><b>Grand total</b></td>
            <td><b class="text-success">{{ getTotal() | currency:"USD" }}</b></td>
            <td nowrap><a class="btn btn-primary" routerLink="/address">Proceed to Checkout</a></td>
        </tr>
    </tfoot>
</table>