/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.css';

.badge-danger {
    color: #fff;
    background-color: #dc3545;
}
.badge-success {
    color: #fff;
    background-color: #28a745;
}
img.card-img-top {
    height: 144px;
}
.errorInput{
    border: 1px solid #dc3545;
    background: #fff1f2;
}